#set( $level = ${reporter.nodeList.size()} )##
#set( $name = ${testNode.name} )##
#set( $detail = ${testSuite.details} )##
#set( $number = ${reporter.currentNumber} )##
##
#if($level > 6)##
<!-- ${level} ${number} ${name} -->
#else##
<h${level}>${number} ${name}</h${level}>
<a name="${number}"></a>
#end##
#if($detail)##
<p>$detail</p>
#end##

