#set( $level = ${reporter.nodeList.size()} )##
#set( $name = ${testNode.name} )##
#set( $detail = ${testSuite.details} )##
#set( $number = ${reporter.currentNumber} )##
##
#if($level > 6)
<p>test suite</p>
#else
<h${level}>${number} Test Suite: ${name}</h${level}>
#end
#if(!$detail)
<p>$detail</p>
#end
